@import "tailwindcss";

@source "../../node_modules/preline/dist/*.js";
@import "../../node_modules/preline/variants.css";
@theme {
    /* --color-default-900: rgb(15 23 42); */
    --color-default-50: hsl(222 45% 97%);
    --color-default-100: hsl(222 40% 94%);
    --color-default-200: hsl(222 35% 88%);
    --color-default-300: hsl(222 30% 78%);
    --color-default-400: hsl(222 25% 60%);
    --color-default-500: hsl(222 20% 40%);
    --color-default-600: hsl(222 30% 25%);
    --color-default-700: hsl(222 40% 18%);
    --color-default-800: hsl(222 45% 14%);
    --color-default-900: hsl(222 47% 11%);
    --color-default-950: hsl(229 84% 5%);

    /* --color-primary-500: rgb(124 58 237); */
    --color-primary-50: hsl(262 100% 97%);
    --color-primary-100: hsl(262 95% 92%);
    --color-primary-200: hsl(262 90% 85%);
    --color-primary-300: hsl(262 88% 75%);
    --color-primary-400: hsl(262 85% 65%);
    --color-primary-500: hsl(262 83% 58%);
    --color-primary-600: hsl(262 80% 50%);
    --color-primary-700: hsl(262 78% 42%);
    /*hover*/
    --color-primary-800: hsl(262 75% 34%);
    --color-primary-900: hsl(262 70% 26%);
    --color-default-950: hsl(222 47% 8%);
    /* font */
    --font-jost: "Jost", sans-serif;
}

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        @apply font-jost;
        margin: 0;
        padding: 0;
    }
}




@layer components {
    .btn {
        @apply me-2 mt-2 inline-flex items-center justify-center gap-2 px-6 py-2 text-white transition-all duration-300 rounded-full
    }

    .btn-primary {
        @apply bg-primary-500 hover:bg-primary-700
    }

    .btn-transparent {
        @apply bg-transparent border border-white/20 hover:border-primary-700 hover:bg-primary-500
    }

    .card-overlay{
        @apply absolute inset-x-0 top-1/2 -translate-y-1/2 scale-0 opacity-0 text-center transition-all duration-500 ease-in-out group-hover:scale-100 group-hover:opacity-100
    }
}

@layer utilities {

    @layer components {
    .page-container {
        @apply w-full mx-auto px-4 sm:max-w-[640px] sm:px-8 md:max-w-[768px] lg:max-w-[1024px] lg:px-16 xl:max-w-[1280px] xl:px-20 2xl:max-w-[1536px] 2xl:px-40;}
    }
    .li-style {
        @apply *:gap-2 *:relative *:text-base *:text-white *:mx-3.5 *:cursor-pointer *:py-1 *:leading-6 *:font-semibold *:capitalize *:-tracking-tight *:bg-transparent *:transition-all *:duration-300 *:ease-in-out
    }

    .li-style>*::after {
        content: "";
        @apply absolute -bottom-1 left-0 h-0.5 w-0 rounded-full bg-primary-500 transition-all duration-500 ease-in-out;
    }

    .is-active {
        @apply text-primary-500;
    }

    .is-active::after {
        @apply w-3/4;
    }

    .bg-gradient-blur {
        @apply h-[500px] w-[500px] rounded-full bg-gradient-to-tl from-red-600/20 to-pink-600/30 blur-[200px]
    }

    .navbar-sticky {
        @apply bg-default-950/60 shadow-xl backdrop-blur-2xl transition-all duration-500 ease-in-out
    }


}


/* npx @tailwindcss/cli -i ./src/style/input.css -o ./src/style/output.css --watch */

